.slider-app{
    height: 100vh;

}
.slider-app .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
}

.slider-app .overlay .content{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
  
}

.slider-app .overlay .content h1{
   font-size: 5rem;
   font-weight: bold;
   color: #fff;
  text-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
}
.slider-app .overlay .content p{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    width: 100rem;
    margin-bottom: 4rem;
   
 }
 .slider-app .overlay .content button{
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 10rem;
    background-color: #067eb3;
    color: #fff;
  border-radius: .5rem;
  transition: all .3s linear;
 }
 .slider-app .overlay .content button:hover{
   letter-spacing: .1rem;
   color: #067eb3;
    background-color: #fff;

 }
.slider-app .img-app img{
    width: 100vw;
    height: 100vh;
}

.slider-app .img-app .content{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   z-index: 99999;
}


.slider-app .slider-btn{
    z-index: 99999;
}

.slider-app .slider-btn .slider-prev ,.slider-app .slider-btn .slider-next {
   height: 10rem;
   width: 10rem;
    border-radius: 5rem;
    animation: prev 1s infinite  ;
    position: relative;
    transition: all .3s linear;
}

.slider-app .slider-btn .slider-prev {
     animation: prev 1s infinite ease alternate ;
     
 }
 .slider-app .slider-btn .slider-next {
    animation: next 1s infinite ease  alternate ;

    
}
@keyframes prev {
    0% {
         transform:perspective(400PX) translateX(0%) ; 

        }
    100% {
        
        transform:perspective(400PX) translateX(-40%) ;

        opacity:0.5
    }

}
@keyframes next {
    0% { 
        transform:perspective(400PX) translateX(0%) ;
    }
    100% {
         transform:perspective(400PX) translateX(20%) ;
         opacity:0.5 
        }

}
